/* ------------------------------------------ */
@font-face {
    font-family:'Site Font';
    src: url('Sanford-0103_demo.ttf') format('truetype');
}

@font-face {
    font-family:'Title Font';
    src: url('EDITION_.TTF') format('truetype');
}

@font-face {
    font-family:'Release Font';
    src: url('OceansideTypewriter.ttf') format('truetype');
}

/* ------------------------------------------ */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 250, 250);
    color: black;
    font-family:'Site Font';
}

body {
    animation: chunkLoad 2s steps(4) forwards;
}

@keyframes chunkLoad {
    from {
        clip-path: inset(0 0 100% 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

/* ------------------------------------------ */

.ridley-kiss-mainsite-logo {
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.black-petal {
    position: relative;
    width: 100%;
}

/* Line Break Under Logo */
.line-break {
    position: relative;   
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(43,43,43), rgb(83,83,83));
    top: -15px;
    z-index: 2;
}
.border-flower-design{
    position: absolute;
    top: -15px;    
    left: 50px;
    width: 16%;
    height: auto;
    z-index: 1;
}

/* ------------------------------------------ */

/* Line Break Under Latest Release */
.line-break2 {
    border-top: 5px solid rgb(151, 151, 151); 
    margin: 50px 0; 
    height: 0; 
}


/* Latest Release Log Border */
.recent-log-box{
    border: 2px solid #000000;
    border-radius: 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 4px 2px rgba(53, 53, 53, 0.2);
    background-color: rgb(255, 255, 255);
}


/* Latest Release Log */
.log-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto 40px auto;
 
}

/* Release Date and Status */
.stats-latest-log{
    display: inline-block;
    text-align: left;
    font-size: 70%;
    padding-left: 30px
}

/* Release Link */
.release-link{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 700%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family:'Release Font';
    
    animation: blinker-sharp 1s step-end infinite;
}

    @keyframes blinker-sharp {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
}

.release-title{
    margin: 50px;
}


/* ------------------------------------------ */

/* Border for Legacy and CGRT */
.left-second-log-box{
    grid-row: 1 / span 2;
    border: 1px solid #162235;
    min-height: 60%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    
}
.right-second-log-box{
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #162235;
    min-height: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}

.right-third-log-box{
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    border: 1px solid #162235;
    min-height: 40%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);  
}

/* Legacy cgrt link/titles */
.load-titles{
    display: block;
    color: rgb(102, 0, 0);
    font-size: 1em;
    margin-top: 50px;
    font-family:'Site Font'; 
    text-align: center;
}

/* The Cherry Egret Text Link */
.cherry-egret-link {
  text-decoration: none;
  color: inherit;
}

/* Ridley Log */
.load-titles-side{
    display: block;
    color: rgb(0, 0, 0);
    font-size: .6em;
    margin-top: 20px;
    margin-left: 20px;
    font-family:'Site Font'; 
    text-align: left;
}

/* Ridley Log Comment */
.comment-sect{
    display:block;
    color: rgb(0, 0, 0);
    width: 90%;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 60px;
    font-family:'Site Font'; 
    text-align: left;
}


/* Grid boxes */
.grid-box {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-template-rows: auto auto;
    gap: 30px;
    width: 59.3%;
    margin: 0 auto;

}

/* legacy and cgrt separator */
.separator {
    width: 60%;
    height: 3px;
    background: #000;
    margin: 20px auto;
}

.second-stats-large{
    display: block;
    font-size: 1em;
    color: rgb(65, 5, 5);
    padding-bottom: 30px;
    text-align: center;
}

.second-stats-small{
    display: block;
    color: rgb(102, 0, 0);
    font-size: 1.2em;
    margin: 0px;
    text-align: center;
}

.second-stats-small-text{
    display: block;
    color: rgb(102, 0, 0);
    font-size: 1.05em;
    max-width: 70%;
    margin: 0px auto;
    text-align: center;
}

/* metallic egret */
.ridley-kiss-metallic{
    width: 70%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------ */

/* Redacted */
.redacted {
    background-color: black;
    color: rgb(0, 0, 0); 
    border-radius: 2px;
    -webkit-user-select: none;  
    -ms-user-select: none;    
    user-select: none;       
}

/* ------------------------------------------ */

/* Container behind text */
/* background: linear-gradient(to bottom, #000000, #771111); */
.header-wrapper {
    width: 100%;
    background-color: #410c05; 
    display: flex;
    justify-content: center;  
    padding: 30px 0;
    margin-bottom: 10px;
}

/* ------------------------------------------ */

